.questionByIdStyle h3{
	text-align: left;
	font-size: large;
	font-weight: bold;
	/* color: rgb(218, 74, 22); */
	color: Sienna;
	margin-bottom: 1rem;
}

.questionByIdStyle span{
	margin-right: 1rem;
	font-weight: bold;
}

.questionByIdStyle p{
	text-align: justify;
}