.footer {
    background-color: lightgrey;
    height: 50px;
    overflow: hidden;
    width: 100%;
    position:absolute;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}

p {
    padding-top: 15px;
}