html, body, #root {
   width: 100%;
   box-sizing: border-box;
   background-color: white;
   padding: 0;
   margin: 0;
}
.root-container {
  --blue_theme: chocolate;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 1rem;
}

.box-controller {
   visibility: visible;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   max-width: 26em;
   min-width: 24em;
   height: 40px;
   -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
   box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
   margin-bottom: 1.2rem;
   align-items: center;
   transition: visibility 0.5s ease-out;
   border-radius: 4px;
   font-size: 1.1rem;
}


.controller {
   flex: 1;
   text-align: center;
   height: 100%;
   line-height: 2;
   cursor: pointer;
}

.selected-controller {
   transition: border 0.3s ease-out;
   border-bottom: 4px solid /*#70a1ff*/ chocolate; 
  -webkit-transition: "border .5s ease-out";
  -moz-transition: "border .5s ease-out";
}

.box-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 26em;
   min-width: 24em;
   box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
   border-radius: 6px;
   padding: 1.4rem;
}


.inner-container {
   transition: visibility 0.2s ease-out;
}


.inner-container.show {
   visibility: visible;
}
.header {
   text-align: center;
   padding: 5px;
   margin-bottom: 1rem;
   font-weight: 500;
   font-size: 1.2rem;
   border-bottom: 0.2px solid rgb(210, 105, 30, 0.6);
}


.header:focus {
   transition: border 0.3s ease-out;
   -webkit-transition: "border .5s ease-out";
   -moz-transition: "border .5s ease-out";
}


.box {
   display: flex;
   flex-direction: column;
   justify-content: center;
} 


.input-group {
   display: flex;
   flex-direction: column;
   margin-top: 0.3rem;
   padding: auto;
   width: 100%;
}

.login-label {
   font-size: 1.2rem;
   font-weight: 700;
   color: darkslategray;
   
}

.login-input {
   font-display: block;
   border-radius: 3px;
   border: 1px solid #ccc;
   transition: border 5px 0.3s ease-out;
   -webkit-transition: "border 2px .3s ease-out";
   -moz-transition: "border 2px .3s ease-out";
   padding: 1.3rem;
   font-size: 1.2rem;
   color: darkslategray;
   background: white;

}


.login-input:hover {
   border: 2px solid BurlyWood;
}


.login-input:focus {
   border: 2px solid chocolate;
   box-shadow: 0px 0px 20px /*rgba(15, 15, 15, 0.2)*/ white;
   outline: none;
}

.login-input::placeholder {
   color: #ccc;
}

.login-btn {
   width: 100%;
   font-size: 1.2rem;
   border-radius: 3px;
   border: none;
   transition: background-color 0.3s ease-out;
   cursor: pointer;
   background-color: chocolate;
	color: white;
  
}


.login-btn:hover, .login-btn:focus {
   background-color:rgb(218, 74, 22);
	color:white;
	border: 1px solid brown;
}

.danger-error {
   color: #e74c3c;
   font-size: 1rem;
}

.password-state {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
}


.pwd {
   height: 6px;
   flex: 1;
   visibility: hidden;
}


.pwd-weak {
   background-color: #e74c3c;
}


.pwd-medium {
   background-color: #3498db;
}


.pwd-strong {
   background-color: #2ecc71;
}


.show {
   visibility: visible;
}

.showPass {
   font-size: 0.9rem;
   width: 50%;
   cursor: pointer;
}
