.askQuestionStyle label{
    display: block;
    color: darkslategray;
	max-width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 0;
}

.askQuestionStyle input,
.askQuestionStyle textarea {
	max-width: 70%;
    border: 1px solid #ccc; 
}

.cancelQtn-btn {
    background-color: #ccc;
    border: none;
    margin: 1rem 0.5rem;
}
.askQtn-btn:hover,
.askQtn-btn:focus {
    background-color: cornsilk;
    border: 2px solid rgb(218, 74, 22);
    color:rgb(9, 9, 42);
    margin: 1rem 0.5rem;
    outline: none !important;
    box-shadow: none;
}

.cancelQtn-btn:active,
.cancelQtn-btn:hover,
.cancelQtn-btn:focus {
    background-color: darkslategray;
    color: white; 
    border:none;
    margin: 1rem 0.5rem;
}


.askQtn-btn:active,
.askQtn-btn {
    background-color: rgb(218, 74, 22);
    color: white; 
    border:none;
    margin: 1rem 0.5rem;
    outline: none !important;
    box-shadow: none;
}

.btn-wrapper {
    display:flex;
}

.askQuestionStyle {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   box-shadow: 0 4px 8px 0 rgb(210, 105, 30, 0.5), 0 6px 20px 0 rgb(210, 105, 30, 0.5);
   text-align: center;
   background-color: cornsilk;
   min-width: 60%;
   min-height: 90vh;
   margin: auto;
  
}

.askQtn-banner h1{
    font-size: 1.2rem;
    color: black;
}

.askQtn-banner li{
    list-style: disc;
    text-align: center;
    
}

.askQtn-banner {
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    margin: auto;
    width: 80%;
}

.askQtn-banner ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.AskQtnCloseBtn {
   display: flex;
   float: left;
}

.AskQtnCloseBtn span{	
	font-weight: bolder;
	font-size: x-large;
	color: rgb(218, 74, 22);
}

.AskQtnCloseBtn:hover {
	border: 1px solid rgb(218, 74, 22);;
	padding: 0;
	background-color: hsl(0, 59%, 41%, 0.3);
}


.show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    background-color: #282c34;
    min-height: 70vh;
    overflow-y: scroll;
}

.hide {
    display: none;
}

.tag-input {
    max-width: 70%;
    border: none !important;
    flex: 1;
    outline: none !important;
    font-size: 1rem;
}
.askQuestionStyle input::placeholder,
.askQuestionStyle textarea::placeholder,
.tag-input::placeholder {
    color: #ccc;
}

.askQuestionStyle:-ms-textarea-placeholder,
.askQuestionStyle:-ms-input-placeholder,
.tag-input:-ms-input-placeholder { 
 color: #ccc;
}

.askQuestionStyle::-ms-textarea-placeholder,
.askQuestionStyle::-ms-input-placeholder,
.tag-input::-ms-input-placeholder { 
    color: #ccc;
}

.tag-card {
    min-width: 70%;
    display: inline-block;
    margin: auto;
    text-align: center;
    position: relative;
    
}

.tag-container {
    min-width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    min-height: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.tag {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    height: 25px;
    margin: 2px 5px 2px 0px;
    background-color: darkslategray;
    color: cornsilk;
    
}

.tag span {
    margin-left: 5px;
    cursor: pointer;
    background-color: cornsilk;
    color:rgb(9, 9, 42);
    font-size: 0.87rem;
} 


.ql-editor,
.ql-toolbar,
.ql-snow,
.ql-container {
    max-width: 100%;   
    overflow-wrap: break-word; 
}

.ql-quill {
    margin-bottom: 1.5rem;
}

.ql-snow .ql-editor pre.ql-syntax {
    color: #f8f8f2;
    overflow: hidden;
}

.ql-editor {
    display: flex;
    flex-wrap: nowrap;
}


.askQuestionStyle i {
    color: darkolivegreen;
    opacity: 0.5;
}
