.subAnswersFormat {
	margin-left: 1rem;
}

.subAnswersFormat .p1{
	margin-bottom: 0;
}

.answer-wrapper {
	display: flex;
  justify-content: space-between;
  flex-direction: row;
	padding: 1rem;
	background-color: beige;
}

.color-edit {
	color: orange;
}

.color-delete {
	color: brown;
}

.answer-section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.answer-section-1 span,
.answer-section-1 h6{
  color: darkolivegreen;
}


.answer-section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

