.subAnswersFormat {
	margin-left: 1rem;
}

.subAnswersFormat .p1{
	margin-bottom: 0;
}

.answer-wrapper {
	background-color: beige;
}

.color-edit {
	color: orange;
}

.color-delete {
	color: brown;
}

.hide {
    display: none;
}

