.subAnswersFormat {
	margin-left: 1rem;
}

.subAnswersFormat .p1{
	margin-bottom: 0;
}

.answer-wrapper {
	display: flex;
  justify-content: space-between;
  flex-direction: row;
	padding: 1rem;
	background-color: beige;
}

.color-edit {
	color: orange;
}

.color-delete {
	color: brown;
}

.answer-section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.answer-section-1 span,
.answer-section-1 h6{
  color: darkolivegreen;
}


.answer-section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.answer-section-2 button {
  border: none;
}

.answer-section-2 button img {
  display: block;
}

.answer-section-2 span{
  display: block;
  color:brown;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .answer-wrapper{
    flex-direction: column;
    padding: 0.5rem;
  }  

  .answer-wrapper p{
    width: 100%;
  } 
  .answer-section-2 {
    flex-direction: row;    
  }
  .answer-section-2 img{
    width: 35px;    
  }
  
}