.questionStyle h4{
	text-align: left;
	font-size: large;
	font-weight: bold;
  color: sienna;
}

.questionStyle span{
	font-weight: bolder;
  color: darkolivegreen;
  margin-right: 0.5rem;
}

.subQtnStyle {
  display: flex;
  justify-content: flex-end;
}

.subQtnStyle h6{
  color: darkslategray;
  margin-right: 0.5rem;
  justify-self: flex-start;
}

.categoryStyle{
  border: 0.5px solid #F8F8FF;
  border-radius: 4px;
  padding: 0.2rem;
  background-color: BurlyWood;
  word-break:normal;
}

.questionStyle{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
	padding: 1rem;
  background-color: #F5F5DC;

}

.questionStyle:hover{
	background-color: rgb(0, 0, 0,0.1);

}

.question-section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.question-section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {

  .questionStyle{
    flex-direction: column;
  }  
  .question-section-2 {
    flex-direction: row-reverse;
    overflow-x: hidden;
    
  }
  .questionStyle h3{
    word-break: break-all;
    word-wrap: break-word;
  }
  .questionStyle span{
    word-break: break-all;
    word-wrap: break-word;
  }
  .categoryStyle{
    font-size: 0.8rem;
  }
  .arrowRight {
    width: 15px;
    align-self: center;
  }

  pre .ql-syntax{
    width: min-content;
  }
  
  .search-input {
		max-width: auto;
		background-color: sandybrown;
		overflow: hidden;
	}
	
	.search-div input::placeholder {
		color: #ddd;
	}

	.search-div {
		display: block;
		 max-width: 100%;
	}
  
}