.selectedQtnContain {
	margin: 0.7rem 1.5rem;
	min-height: 80vh;
	background-color: white;
	position: relative;
}

.selectedQtnContain li{
	list-style: none;	
}

.close {
	position: absolute;	
	right: 0.5rem;
	border: none;
}

.close span{	
	font-weight: bolder;
	font-size: x-large;
	color: rgb(218, 74, 22);
}

.close:hover {
	border: 1px solid brown;
	padding: 0;
	background-color: transparent;
}

.hide {
	display: none;
}

@media screen and (max-width: 600px) {
		.selectedQtnContain {
		float: none;
		width: 80%;
	}
	.main-title-box {
		width:100%;
	}
}
